@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --color-red: #f03c42;
  --color-blue: #222374;
  --color-gray: #cccccc;
  --color-black: #000000;
  --color-white: #ffffff;
}

* {
  font-family: "Open Sans", Arial;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

header {
  background-color: var(--color-red);
  height: 100px;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav h1 {
  color: var(--color-white);
  font-size: 18px;
}

nav div {
  color: var(--color-white);
  font-size: 14px;
  display: flex;
  align-items: center;
}

nav div img {
  margin-right: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

#ourspace {
  background-color: var(--color-blue);
  padding: 20px;
}

#ourspace h2 {
  font-size: 32px;
  color: var(--color-white);
  margin-bottom: 40px;
}

.card-ourspace {
  background-color: var(--color-gray);
  border-radius: 8px;
  padding: 20px 20px;
  margin-bottom: 20px;
}

.card-ourspace h3 {
  color: var(--color-black);
  font-size: 20px;
  margin-bottom: 20px;
}

.card-ourspace p {
  color: var(--color-black);
  font-size: 14px;
}

#categories {
  background-color: var(--color-white);
  padding: 20px;
}

#categories h2 {
  font-size: 32px;
  color: var(--color-red);
  margin-bottom: 40px;
}

.card-categories {
  background-color: var(--color-blue);
  border-radius: 8px;
  padding: 20px 20px;
  margin-bottom: 20px;
}

.card-categories h3 {
  color: var(--color-white);
  font-size: 20px;
  margin-bottom: 20px;
}

.card-categories p {
  color: var(--color-white);
  font-size: 14px;
}

footer {
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  color: var(--color-white);
  height: 262px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-sm {
  align-items: center;
}

.footer-inst {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer-inst img {
  margin-right: 10px;
}

.footer-twit {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer-twit img {
  margin-right: 10px;
}

.footer-content p {
  margin-top: 16px;
}
